---
layout: default
title: Aaron Allen
subtitle: The musings of a software engineer building things for the web.
---
<section class="posts">
  {% for post in paginator.posts %}
    <article class="posts__post">
      <h4 class="post__date">{{ post.date | date: "%B %-d, %Y"}}</h4>
      <h2 class="post__title"><a href="{{ post.url }}" class="title__link">{{ post.title }}</a></h2>
      <span class="post__summary">
        {% if post.tweet %}
          {{ post.tweet }}...
        {% else %}
          {{ post.content | truncate: 140 }}
        {% endif %}
      </span>
    </article>
  {% endfor %}
  <section class="paginator">
    <div class="paginator__previous">
      {% if paginator.previous_page %}
      <a class="paginator__link" href="{{ paginator.previous_page_path }}">
        <i class="fas fa-chevron-left"></i>
        <span>Newer Posts</span>
      </a>
      {% endif %}
    </div>
    <div class="paginator__pages">
      {% if paginator.total_pages > 1 %}
        <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% endif %}
    </div>
    <div class="paginator__next">
      {% if paginator.next_page %}
      <a class="paginator__link" href="{{ paginator.next_page_path }}">
        <span>Older Posts</span>
        <i class="fas fa-chevron-right"></i>
      </a>
      {% endif %}
    </div>
  </section>
</section>
