<p>
  My journey as a software engineer began in 1998 when I first experimented with C++ to create a catalog of my CD
  collection. My passion for web development was ignited during the MySpace era, where I endeavored to make my profile
  stand out from the rest. Since 2011, I have been working professionally as a software engineer, contributing to a wide
  range of projects, from monolithic Rails applications to microservices in Java and Node.js.
</p>

<p>
  In my spare time, I enjoy a good game of Magic: The Gathering Commander or an adventurous session of Dungeons and
  Dragons. Overlanding in my Jeep Gladiator Mojave has taken me to many of the National Parks in the United States. I
  also have a love for video games and a mild interest in game design.
</p>

<p>
  My professional experience includes significant tenures at Zillow Group, Moxie Software, Philips Lighting, CVS Health,
  and The Scooter Store. While I have experimented with various technologies, my expertise lies in Ruby on Rails and
  React. I am particularly interested in domain modularity within Rails applications and have been exploring the use of
  the Commands and Queries pattern to achieve this.
</p>
