<footer class="footer">
  {% unless page.show_footer == false %}
  <div class="footer__links">
    <ul class="links">
      <li class="links__item">
        <a href="https://www.twitter.com/aaronmallen" class="item__link -twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="links__item">
        <a href="https://www.linkedin.com/in/aaronmallen/" class="item__link -linkedin">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="links__item">
        <a href="https://github.com/aaronmallen" class="item__link -github">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__copyright">
    <span class="copyright">&copy; Copyright Aaron Allen 2018.</span>
  </div>
  {% endunless %}
</footer>
