<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="">
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
  <script>FontAwesomeConfig = { searchPseudoElements: true };</script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
