<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta charset='utf-8'>
  <title>
    {% if page.title %}
      {{ site.title }} | {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  {% seo title=false %}
  <link rel='icon' href='/assets/images/logo.svg'>
  <link rel='mask-icon' href='/assets/images/logo.svg' color='#000000'>
  <meta name='theme-color' content='#ffffff'>
  <link rel='stylesheet' href='{{ "/assets/css/main.css" | relative_url }}'>
  <script src='/assets/javascript/main.js'></script>
  <script src='https://kit.fontawesome.com/fe99ca8d39.js' crossorigin='anonymous'></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PKVN95N4SH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PKVN95N4SH');
</script>
