<nav class='fixed start-0 top-0 z-20 w-full bg-white' role='navigation'>
  <div class='mx-auto flex max-w-screen-2xl flex-wrap items-center justify-between p-4'>
    <a
      href='/#'
      class='flex flex-grow items-center space-x-3 rtl:space-x-reverse'
      aria-label='Homepage'
    >
      {% svg /assets/images/logo.svg class="h-12 w-auto" %}
    </a>
    <div class='flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse'>
      <button
        data-collapse-toggle='main-navbar'
        type='button'
        class='inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 md:hidden'
        aria-controls='main-navbar'
        aria-expanded='false'
      >
        <span class='sr-only'>Open main menu</span>
        <svg
          class='h-5 w-5'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 17 14'
        >
          <title>Menu Icon</title>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class='hidden w-full items-center justify-between md:order-1 md:flex md:w-auto'
      id='main-navbar'
    >
      <ul
        class='mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 rtl:space-x-reverse'
      >
        {% for item in site.data.main_nav_items %}
          <li>
            <a
              href='{{ item.link }}'
              class='hover:text-daisy-bush block px-3 py-2 md:bg-transparent'
              {% if item.current %}
                aria-current='page'
              {% endif %}
            >
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
