{% assign page_links = "About,Contact" | split: ',' %}
<ul class="menu__nav">
  <li class="nav__item">
    <a href="{{ site.url }}" class="item__link">Home</a>
  </li>
  <!-- TODO: create the content for the pages and uncomment this.-->
  <!-- {% for page_link in page_links %}
    {% if page.title == page_link %}{% assign active_class = ' -active' %}{% endif %}
    {% if page.title != page_link %}{% assign active_class = '' %}{% endif %}
    <li class="nav__item {{ active_class }}">
      <a href="{{ site.url }}/{{ page_link | downcase }}" class="item__link{{ active_class }}">
        {{ page_link }}
      </a>
    </li>
  {% endfor %} -->
</ul>
