.content {
  grid-area: content;
  padding: 0 15px;

  .content__header {
    border-bottom: 1px solid $lightGrey;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    width: 50%;
  }
}

.content__page {
  margin: 0 auto;
  width: 50%;
}

.post {
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 50px;
}

.post__summary {
  display: block;
  margin-bottom: 50px;
}

.page__title {
  font-size: 350%;
  margin: 5px;
}

.post__title {
  font-size: 180%;
}

.post__date,
.post__title {
  margin: 0;
  margin-bottom: 5px;
}

.title__link {
  color: $black;
  text-decoration: none;
  transition: color 0.5s;

  &:hover {
    color: $green;
  }
}

.page__subtitle,
.page__date,
.post__date {
  color: $grey;
  font-family: 'Fira Mono', monospace;
  font-size: 100%;
  font-weight: normal;
}

.paginator {
  display: grid;
  grid-template-areas: "previous next";
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 50px;

  .paginator__previous {
    grid-area: previous;
    text-align: left;
  }

  .paginator__next {
    grid-area: next;
    text-align: right;
  }

  .paginator__link {
    color: $grey;
    text-decoration: none;
  }
}
