.sideNav {
  background: $black;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;

  .sideNav__content {
    padding: 0 25px;
  }

  .sideNav__menu {
    h6 {
      color: $white;
      font-size: 100%;
      margin: 12px 0;
      text-transform: uppercase;
    }

    hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  .menu__nav {
    margin: 0;
    padding: 0;
  }

  .nav__item {
    margin-bottom: 10px;
  }

  .item__link {
    transition: 0.3s;

    &:hover,
    &.-active {
      color: $white;
    }
  }
}
