@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Roboto+Condensed:700,700i');

body {
  color: $black;
  font-family: 'Fira Mono', monospace;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 200%;
  font-weight: 700;
}
