$black: rgb(35, 35, 35);
$green: rgb(46, 204, 113);
$grey: rgb(153, 153, 153);
$lightGrey: rgb(232, 232, 232);
$white: rgb(255, 255, 255);

$twitter: rgb(0, 161, 238);
$linkedin: rgb(0, 119, 178);
$github: rgb(36, 41, 46);
