$black: rgb(35, 35, 35);
$blue: rgb(63, 111, 180);
$grey: rgb(153, 153, 153);
$lightGrey: rgb(232, 232, 232);
$white: rgb(255, 255, 255);

$twitter: rgb(0, 161, 238);
$linkedin: rgb(0, 119, 178);
$github: rgb(36, 41, 46);

$fontFamilyFira: 'Fira Mono', monospace;
$fontFamilyRoboto: 'Roboto Condensed', sans-serif;


$phoneBreakpointPortrait: 414px;
