{
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.{html, md}",
      "options": {
        "parser": "liquid-html"
      }
    }
  ],
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2
}
