---
title: Blog Archive
layout: page
permalink: /blog/archive
---
{% include scroll_to_top_button.html %}
{% assign years = site.posts | group_by_exp: 'post', "post.date | date: '%Y'" %}
<section id='archive' class='h-full-page mx-auto flex max-w-screen-2xl flex-col px-8 md:-mt-[80px]'>
  <h1 class='mb-4 text-center text-4xl font-extrabold tracking-tight'>
    <i class='fa-regular fa-archive'></i>
    <span>Archive</span>
  </h1>
  <div class='flex-grow space-y-4 px-4'>
    {% for year in years %}
      <h2 class='mb-2 text-xl font-semibold'>{{ year.name }}</h2>
      <ul>
        {% for post in year.items %}
          <li>
            <span class='mr-4 text-sm text-gray-400'>{{ post.date | date: '%b %d' }}</span>
            <a href='{{ post.url }}' class='underline'>{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <div class='flex flex-col p-4'>
    <h2 class='mb-4 text-xl font-semibold'>Tags</h2>
    {% include tag_cloud.html %}
  </div>
</section>
