---
title: Blog Archive
layout: page
---
<section class='mx-auto flex min-h-screen max-w-screen-2xl flex-col px-8'>
  <header class='prose'>
    <h1>Blog Archive</h1>
  </header>
  {% assign years = site.posts | group_by_exp: 'post', "post.date | date: '%Y'" %}
  {% for year in years %}
    <section class='p-4'>
      <header>
        <h2 class='mb-2 text-xl font-semibold'>{{ year.name }}</h2>
      </header>
      <ul>
        {% for post in year.items %}
          <li>
            <span class='mr-4 text-sm text-gray-400'>{{ post.date | date: '%b %d' }}</span>
            <a href='{{ post.url }}' class='underline'>{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
