---
title: Blog Archive
layout: default
---
{% include scroll-to-top-button.html %}
<div class='mx-auto flex min-h-screen max-w-screen-xl flex-col px-8 pt-[100px]'>
  <header>
    <h1 class='text-daisy-bush mb-4 text-4xl font-extrabold tracking-tight'>Blog Archive</h1>
  </header>
  {% assign years = site.posts | group_by_exp: 'post', "post.date | date: '%Y'" %}
  {% for year in years %}
    <section class='p-4'>
      <header>
        <h2 class='text-daisy-bush mb-2 text-xl'>{{ year.name }}</h2>
      </header>
      <ul>
        {% for post in year.items %}
          <li>
            <span class='mr-4 text-sm text-gray-400'>{{ post.date | date: '%b %d' }}</span>
            <a href='{{ post.url }}' class='text-daisy-bush hover:underline'>{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</div>
