<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="favicon">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% include side-nav.html %}
    <div id="sideNavTarget" class="wrapper">
      {% include header.html %}
      <main class="content">
        <div class="content__header">
          <h1 class="page__title">{{ page.title }}</h1>
          {% if page.subtitle %}
            <h2 class="page__subtitle">{{ page.subtitle }}</h2>
          {% else %}
            <h4 class="page__date">{{ page.date | date: "%B %-d, %Y" }}</h4>
          {% endif %}
        </div>
        <div class="content__page">
          {{ content }}
        </div>
      </main>
      {% include footer.html %}
    </div>
    <script type="text/javascript" src="{{site.url}}/assets/javascript/anchor-js/anchor.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/assets/javascript/sidenav.js"></script>
  </body>
</html>
