<!doctype html>
<html lang='{{ site.lang | default: "en-US" }}' class='scroll-smooth'>
  {% include head.html %}
  <body class='min-h-screen'>
    {% include main_nav.html %}
    {% include scroll_to_top_button.html %}
    <main role='main' class='min-h-[calc(100vh-415px)] pt-[80px]'>
      <article class='prose md:prose-2xl mx-auto px-4'>
        <h1 class='border-b-4 border-dotted border-slate-950'>{{ page.title }}</h1>
        <div class='flex w-full flex-row items-center'>
          <span class='w-1/2 text-gray-400'>{{ page.date | date: '%b %d %Y' }}</span>
          <span class='w-1/2 text-right text-sm text-gray-400'>
            {% include read_time.html content=content %}
          </span>
        </div>
        <div class='not-prose my-4 flex flex-wrap'>
          <ul class='flex flex-wrap gap-4'>
            {% for tag in page.tags %}
              <li>
                <a href='/blog/{{ tag | slugify }}' class='text-sm'>
                  <i class='fa-regular fa-tag'></i>
                  <span>{{ tag }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {{ content }}
      </article>
      <div class='mt-[50px]'>
        {% include social_share_nav.html %}
      </div>
      {% if site.related_posts.size >= 1 %}
        <div class='w-full'>
          <div
            class='-mb-[1px] mt-[100px] h-[100px] w-full bg-slate-950 [clip-path:polygon(0_100%,100%_0,100%_100%)]'
          ></div>
          <div class='bg-slate-950 px-4 py-10'>
            <h3 class='mb-[0.6em] text-center text-xl font-semibold text-white'>Related Posts</h3>
            <ul class='mx-auto flex w-full flex-col justify-center gap-10 md:flex-row md:flex-wrap'>
              {% for post in site.related_posts limit: 3 %}
                <li class='flex w-full flex-col space-y-2 rounded-lg bg-white p-4 md:w-1/4'>
                  <div class='flex flex-row'>
                    <span class='w-1/2 text-sm'>{{ post.date | date: '%b %d %Y' }}</span>
                    <span class='w-1/2 text-right text-sm'>
                      {% include read_time.html content=post.content %}
                    </span>
                  </div>
                  <a href='{{ post.url }}' class='text-lg font-semibold'>{{ post.title }}</a>
                  <div class='flex flex-grow items-start justify-start'>{{ post.excerpt }}</div>
                  <div class='text-right'>
                    <a href='{{ post.url }}' class='text-sm underline'>Read More</a>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class='-mt-[1px] h-[100px] w-full bg-slate-950 [clip-path:polygon(0_100%,0_0,100%_0)]'></div>
        </div>
      {% endif %}
      <div class='mx-auto mt-[50px] flex max-w-screen-2xl flex-row items-center justify-center space-x-4'>
        <a
          href='javascript:history.back()'
          class='rounded-lg bg-slate-950 px-4 py-3 text-sm text-white no-underline hover:bg-slate-800'
          aria-label='Go Back'
        >
          <span>Go Back</span>
        </a>
        <a
          href='/blog/archive'
          class='text-md rounded-lg bg-slate-950 px-4 py-3 text-sm text-white hover:bg-slate-800'
          aria-label='View Archive'
        >
          <span>View Archive</span>
        </a>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
